
<h5>@Html.ActionLink("Create", "Create") </h5>

<table>
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Product Desc
        </th>
        <th>
            Update Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td style="height:30px; width: 240px;">
                @item.ProductName
            </td>
            <td style="height:30px; width: 240px;">
                @item.ProductDesc
            </td>
            <td style="height:30px; width: 240px;">
                @item.UpdateDate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>